# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# =========================
# Node / React
# =========================
node_modules/
dist/
.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
# USDA raw dataset
backend/data/USDA/